label {
	margin-left: 40px;
    margin-bottom: 0px;
    background: rgb(48,48,48);
	color: white;
	width: 820px;
	height: 75px;
	padding-left: 20px;
	padding-top: 17px;
}

.sub > li {
    height: 0;
    overflow: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}


.sub > li {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
input:checked + .sub > li {
    margin : 1px auto auto 0px;
    width: 820px;
    align-items: center;
    opacity: 1;
    background: rgb(48,48,48);
    padding : 25px 25px 25px 25px;
    font-size: 24px;
}

input:checked + #sub1 > li{
    height: 370px;
}

input:checked + #sub2 > li{
    height: 190px;
}

input:checked + #sub3 > li{
    height: 450px;
}

input:checked + #sub4 > li{
    height: 180px;
}

input:checked + #sub5 > li{
    height: 200px;
}