.link-container {
	width: 960px;
	height: 130px;
	display: flex;
	justify-content: space-between;
	margin : 30px auto 30px 220px;
}

.link-row {
	width: 250px;;
}

.link-row li {
	padding-bottom: 20px;
}